# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Nautobot
/docs/
/nautobot_ssot_proxmox.egg-info/
